.section-box--dark {
  background-color: $dark-fone;
}

.footer {
  font-weight: 400;
  text-align: center;
  
  padding: 60px 15px;
  @media screen and (min-width:1200px) {
   display: flex;
  padding: 60px 15px;
  align-items: flex-start;
  text-align: left;
 }


}





.footer__tablet-position{
 @media screen and (min-width:768px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

}


.footer__textbox {
  @media screen and (min-width:768px) {
    margin-left: 61px;

  @media screen and (min-width:1200px) {
  margin-left: 0;
 
    
 }
    
    
       
 }

}


.normtext {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: $main-color;
}

.logo-footer {
  padding-top: 0px;
  display: inline-block;
}

.logo__black--white {
  color: $main-color;
}

.kont-links-footer__link {
  color: $backfone-color;
  text-decoration: none;
  font-style: normal;
  list-style: none;

  &:hover,
  &:focus {
    color: $accent-color;

    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.kont-links-footer {
  display: block;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: 20px;
}

.kont-links-footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.sing-us {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  color: $main-color;
  letter-spacing: 0.03em;
  margin-top: 60px;

  @media screen and (min-width:768px) {
    margin-top: 5px;
    margin-right:74px ;
}
  
 @media screen and (min-width:1200px) {
  margin-left: 70px;
  margin-right: 93px;
    
 }

  /*margin-left: 73px;
  margin-right: 93px;*/
}

.soc-links-footer-list {
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  margin-top: 20px;
  justify-content: center;
}

.soc-links-footer-list__item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  overflow: hidden;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.soc-links-footer-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &:hover {
    background-color: $accent-color;

    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus {
    background-color: $accent-color;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}



.subscribe-form__field {
  margin-top: 20px;
  padding: 0 0 0 16px;

  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);

  @media screen and (min-width:768px) {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 @media screen and (min-width:1200px) {
     width: 358px;
     display: inline-block;
    
 }


  font-family: $main-font;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.subscribe-us {
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  color: $main-color;
  letter-spacing: 0.03em;

  @media screen and (min-width:1200px) {
  
     margin-top: 0;
     align-items: center;
    
 }

}

.subscribe-form__icon {
  margin-left: 10px;
}

.subscribe-form__button {
  display: inline-flex;
  margin: 20px 0 0 12px;
}
