.head-box {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: #ececec solid 1px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.header-position {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*nav*/
.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar__item {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}
/*logo*/
.logo {
  color: $accent-color;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  margin: 24px 93px 25px 0px;
}

.logo__black {
  color: #000000;
}
.logo-white {
  color: $main-color;
}
/*nav-links*/
.nav-links__link {
  color: $text-color;
  text-decoration: none;
  letter-spacing: $small--letter-spacing;

  &:hover,
  &:focus {
    color: var(--accent-colour);
    transition-property: color;
    transition-duration: var(--transition-duration);
  }

  &--current {
    color: var(--accent-colour);
  }
}

.nav-links {
  display: flex;
}

.nav-links__item:not(:last-child) {
  margin-right: 50px;
}

.nav-links__item {
  position: relative;
  width: 100%;
  height: 100%;
}

.nav-links__link--current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $buttom-color;
  bottom: -32px;
  left: 0;
}

.kont-links {
  display: flex;
  align-items: center;
}

.nav-links__link,
.kont-links__item {
  padding: 32px 0;
}

/*kontacts*/
.kont-links__item {
  color: $backfone-color;
  text-align: left;
  font-style: normal;
  display: flex;

  &:hover,
  &:focus {
    color: $accent-color;

    transition-property: color;
    transition-duration: $transition-duration;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.kont-links {
  margin-left: 304px;
  margin-right: 0;
  display: f;
  text-align: center;
}

.kont-links__link {
  display: flex;
  align-items: center;
}

.kont-links__item:not(:last-child) {
  margin-right: 30px;
}

.kont-links__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.kont-links__icon,
.kont-links__icon-phone {
  fill: currentColor;
}

.kont-links__icon:hover,
.kont-links__icon-phone:hover {
  fill: $accent-color;
}

.kont-links__icon:focus,
.kont-links__icon-phone:focus {
  fill: $accent-color;
}

.kont-links__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
