.head-box {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: #ececec solid 1px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.header-position {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*nav*/
.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar__item {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}
/*logo*/
.logo {
  color: $accent-color;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  margin:16px 0;
  display: block;
  @media screen and (min-width:768px)
    {font-size: 24px;
    line-height: 1.16
     } 
  @media screen and (min-width:1200px)
  {font-size: 26px;
  line-height: 1.19
     } 
    }

  .nav-bar__item{
     @media screen and (min-width:768px){
       margin:26px 0 ;
       
     }

  }
  
  /*margin: 24px 93px 25px 0px;*/


.logo__black {
  color: #000000;
}
.logo-white {
  color: $main-color;
}
/*nav-links*/
.nav-links__link {
  color: $text-color;
  text-decoration: none;
  letter-spacing: $small--letter-spacing;

  &:hover,
  &:focus {
    color: var(--accent-colour);
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &--current {
    color: var(--accent-colour);
  }
}

.nav-links {
 
 display: none;
 @media screen and (min-width:768px){
 display: flex;
 margin-left: 88px;
 }
 @media screen and (min-width:1200px){
  margin-left: 93px;  
 }

}

.nav-links__item {
  position: relative;
  width: 100%;
  height: 100%;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-links__link {
  padding: 32px 0;

  &--current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $buttom-color;
    bottom: -32px;
    left: 0;
  }
}


.mob-menu__button {
  margin: 22px 8px 22px 0;
  padding: 0;
  border: 0;
  max-height: 16px;
  cursor: pointer;
   @media screen and (min-width:768px) {
   display: none;}
    
  }

.mob-menu__button-icon{
  width:24px;
  height: 16px;
   &:hover{
  fill: $accent-color;
 
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
   &:focus{
  fill: $accent-color;
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);   
} 

&--close{
width: 40px;
height: 40px;
position: absolute;
top: 10px;
right: 15px;
z-index: 3;

}
}


.mob-menu__nav{
  position: fixed;
  top: 0;
  left: 0;
  width:100vw ;
  height: 100vh;
  background-color: $main-color;
  z-index: 2;
  padding: 48px 15px 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}


.mob-menu__nav-links{
font-weight: 500;
font-size: 40px;
line-height: 1.175;
letter-spacing: 0.02em;

}

.mob-menu__nav-item {
  

  &:not(:last-child){
  margin-bottom: 32px;
} 
  }




.mob-menu__nav-item--current {
  color: var(--accent-colour);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
  }


  .mob-menu__item-link{
    &:focus{
  color: var(--accent-colour);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
}

&:hover{
  color: var(--accent-colour);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

}


.mob-menu__soc-links{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
}


.mob-menu-soc__item {

font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;


color:$accent-color;
 
 
 
 
&:not(:last-child){
margin-right: 10px;
padding-right: 10px;
border-right:  1px solid rgba(33, 33, 33, 0.2);

  }
}

.mob_menu__kont-item{
font-weight: 500;
font-size: 24px;
line-height: 1.166;
letter-spacing: 0.02em;
margin-bottom: 32px;
color: $accent-color;

&:last-child{
  margin-bottom: 64px;
  color: $backfone-color;
}


}


.mob_menu__kont-link {
    &:focus{
  color: var(--accent-colour);
  transition-property: color;
  transition-duration: var(--transition-duration);
}

&:hover{
  color: var(--accent-colour);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

}

/*kontacts*/

.kont-links__item {
  padding: 32px 0;
  color: $backfone-color;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;

  display: flex;
  flex-wrap: nowrap;
  @media screen and (min-width:768px){
   padding: 0 0;
     
   &:first-child{
   margin-bottom:10px ;
  }
  }

  &:not(:last-child) {
    margin-right: 30px;
  }

  @media screen and (min-width:1200px){
   font-size: 14px;
  line-height: 1.16;
  margin-bottom:10px  
}
}

.kont-links {
  display: none;

@media screen and (min-width:768px) {
 display: flex;
 flex-wrap: wrap;
 justify-content: right;
 align-items: center;
 margin-right: 0;
 text-align: center;
 margin-left: 84px; } 
 
 @media screen and (min-width:1200px){
   margin-left: 305px;
 }

 }
 

.kont-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &:hover,
  &:focus {
    color: $accent-color;

    transition-property: color;
    transition-duration: $transition-duration;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.kont-links__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.kont-links__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}