$accent-color: #2196f3;
$text-color: #212121;
$backfone-color: #757575;
$main-color: #ffffff;
$dark-fone: #2f303a;
$filter-colour: #f5f4fa;
$buttom-color: #188ce8;
$links-logo-colour: #afb1b8;
$features-font: #757575;

$main-font: 'Roboto', sans-serif;
$accent-font: 'Raleway', sans-serif;

$main-font: 'Roboto', sans-serif;
$accent-font: 'Raleway', sans-serif;
$links-logo-colour: #afb1b8;

$smallest-font-size: 12px;
$normal-font-size: 14px;
$accent-font-size: 16px;
$tittle-font-size: 36px;
$logo-font-size: 28px;

$main-letter-spacing: 0.03em;
$hero-letter-spacing: 0.06em;
$small--letter-spacing: 0.02em;
$transition-duration: 250ms;
